{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "basePath": "",
  "baseUrl": "https://roads.googleapis.com/",
  "batchPath": "batch",
  "description": "The Roads Selection API allows you to create, manage, update, and batch-operate SelectedRoutes for periodic traffic telemetry cache retrieval in Roads Management Insights (RMI).",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/maps/documentation/roads-management-insights/reference/rest",
  "fullyEncodeReservedExpansion": true,
  "id": "roadsselection:v1",
  "kind": "discovery#restDescription",
  "name": "roadsselection",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "protocol": "rest",
  "resources": {
    "projects": {
      "resources": {
        "selectedRoutes": {
          "methods": {
            "batchCreate": {
              "description": "Creates multiple SelectedRoute resources and starts a schedule to periodically retrieve cache information for each of the routes (up to 1,000 routes).",
              "flatPath": "selection/v1/projects/{projectsId}/selectedRoutes:batchCreate",
              "httpMethod": "POST",
              "id": "roadsselection.projects.selectedRoutes.batchCreate",
              "parameterOrder": ["parent"],
              "parameters": {
                "parent": {
                  "description": "Required. The project resource shared by all selected routes in the batch (projects/{project}).",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "selection/v1/{+parent}/selectedRoutes:batchCreate",
              "request": {
                "$ref": "BatchCreateSelectedRoutesRequest"
              },
              "response": {
                "$ref": "BatchCreateSelectedRoutesResponse"
              }
            },
            "batchDelete": {
              "description": "Deletes multiple SelectedRoute resources for the specified project (up to 1,000 routes).",
              "flatPath": "selection/v1/projects/{projectsId}/selectedRoutes:batchDelete",
              "httpMethod": "POST",
              "id": "roadsselection.projects.selectedRoutes.batchDelete",
              "parameterOrder": ["parent"],
              "parameters": {
                "parent": {
                  "description": "Required. The project resource shared by all selected routes to delete (projects/{project}).",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "selection/v1/{+parent}/selectedRoutes:batchDelete",
              "request": {
                "$ref": "BatchDeleteSelectedRoutesRequest"
              },
              "response": {
                "$ref": "Empty"
              }
            },
            "batchUpdate": {
              "description": "Updates multiple SelectedRoute resources as specified by their names (up to 1,000 routes).",
              "flatPath": "selection/v1/projects/{projectsId}/selectedRoutes:batchUpdate",
              "httpMethod": "POST",
              "id": "roadsselection.projects.selectedRoutes.batchUpdate",
              "parameterOrder": ["parent"],
              "parameters": {
                "parent": {
                  "description": "Required. The project resource shared by all selected routes in the batch (projects/{project}).",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "selection/v1/{+parent}/selectedRoutes:batchUpdate",
              "request": {
                "$ref": "BatchUpdateSelectedRoutesRequest"
              },
              "response": {
                "$ref": "BatchUpdateSelectedRoutesResponse"
              }
            },
            "create": {
              "description": "Creates a SelectedRoute and starts a schedule to periodically retrieve cache information for the route.",
              "flatPath": "selection/v1/projects/{projectsId}/selectedRoutes",
              "httpMethod": "POST",
              "id": "roadsselection.projects.selectedRoutes.create",
              "parameterOrder": ["parent"],
              "parameters": {
                "parent": {
                  "description": "Required. The project that the SelectedRoute will be created under (projects/{project}).",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "selectedRouteId": {
                  "description": "Optional. The ID to use for the SelectedRoute (4-63 chars, a-z, A-Z, 0-9, or '-').",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "selection/v1/{+parent}/selectedRoutes",
              "request": {
                "$ref": "SelectedRoute"
              },
              "response": {
                "$ref": "SelectedRoute"
              }
            },
            "delete": {
              "description": "Deletes the specified SelectedRoute for the specified project.",
              "flatPath": "selection/v1/projects/{projectsId}/selectedRoutes/{selectedRoutesId}",
              "httpMethod": "DELETE",
              "id": "roadsselection.projects.selectedRoutes.delete",
              "parameterOrder": ["name"],
              "parameters": {
                "name": {
                  "description": "Required. The name of the SelectedRoute to delete (projects/{project}/selectedRoutes/{selected_route}).",
                  "location": "path",
                  "pattern": "^projects/[^/]+/selectedRoutes/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "selection/v1/{+name}",
              "response": {
                "$ref": "Empty"
              }
            },
            "get": {
              "description": "Gets a SelectedRoute as specified by its name.",
              "flatPath": "selection/v1/projects/{projectsId}/selectedRoutes/{selectedRoutesId}",
              "httpMethod": "GET",
              "id": "roadsselection.projects.selectedRoutes.get",
              "parameterOrder": ["name"],
              "parameters": {
                "name": {
                  "description": "Required. The name of the SelectedRoute to retrieve (projects/{project}/selectedRoutes/{selected_route}).",
                  "location": "path",
                  "pattern": "^projects/[^/]+/selectedRoutes/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "selection/v1/{+name}",
              "response": {
                "$ref": "SelectedRoute"
              }
            },
            "list": {
              "description": "Lists all SelectedRoute resources for the specified project with pagination and optional filter.",
              "flatPath": "selection/v1/projects/{projectsId}/selectedRoutes",
              "httpMethod": "GET",
              "id": "roadsselection.projects.selectedRoutes.list",
              "parameterOrder": ["parent"],
              "parameters": {
                "pageSize": {
                  "description": "Optional. The number of results to return (max 5,000, default 100).",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Optional. A page token received from a previous ListSelectedRoutes call.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The project parent (projects/{project}).",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "selection/v1/{+parent}/selectedRoutes",
              "response": {
                "$ref": "ListSelectedRoutesResponse"
              }
            },
            "patch": {
              "description": "Updates a SelectedRoute as specified by its name.",
              "flatPath": "selection/v1/projects/{projectsId}/selectedRoutes/{selectedRoutesId}",
              "httpMethod": "PATCH",
              "id": "roadsselection.projects.selectedRoutes.patch",
              "parameterOrder": ["name"],
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the SelectedRoute (projects/{project}/selectedRoutes/{selected_route}).",
                  "location": "path",
                  "pattern": "^projects/[^/]+/selectedRoutes/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "description": "Optional. Field mask specifying fields to update (e.g. 'display_name,route_attributes,dynamic_route').",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "selection/v1/{+name}",
              "request": {
                "$ref": "SelectedRoute"
              },
              "response": {
                "$ref": "SelectedRoute"
              }
            }
          }
        }
      }
    }
  },
  "revision": "20260830",
  "rootUrl": "https://roads.googleapis.com/",
  "schemas": {
    "BatchCreateSelectedRoutesRequest": {
      "id": "BatchCreateSelectedRoutesRequest",
      "properties": {
        "parent": {
          "description": "Required. The project resource shared by all selected routes in the batch (projects/{project}).",
          "type": "string"
        },
        "requests": {
          "description": "Required. The request message specifying the selected routes to create (max 1000).",
          "items": {
            "$ref": "CreateSelectedRouteRequest"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "BatchCreateSelectedRoutesResponse": {
      "id": "BatchCreateSelectedRoutesResponse",
      "properties": {
        "selectedRoutes": {
          "description": "SelectedRoute resources created.",
          "items": {
            "$ref": "SelectedRoute"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "BatchDeleteSelectedRoutesRequest": {
      "id": "BatchDeleteSelectedRoutesRequest",
      "properties": {
        "names": {
          "description": "Required. The names of the selected routes to delete (max 1000).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "parent": {
          "description": "Required. The project resource shared by all selected routes to delete (projects/{project}).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BatchUpdateSelectedRoutesRequest": {
      "id": "BatchUpdateSelectedRoutesRequest",
      "properties": {
        "parent": {
          "description": "Required. The project resource shared by all selected routes in the batch (projects/{project}).",
          "type": "string"
        },
        "requests": {
          "description": "Required. The request message specifying the selected routes to update (max 1000).",
          "items": {
            "$ref": "UpdateSelectedRouteRequest"
          },
          "type": "array"
        },
        "updateMask": {
          "description": "Optional. The list of fields to update shared by all child requests in the batch.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BatchUpdateSelectedRoutesResponse": {
      "id": "BatchUpdateSelectedRoutesResponse",
      "properties": {
        "selectedRoutes": {
          "description": "SelectedRoute resources updated.",
          "items": {
            "$ref": "SelectedRoute"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "CreateSelectedRouteRequest": {
      "id": "CreateSelectedRouteRequest",
      "properties": {
        "parent": {
          "description": "Required. The project that the SelectedRoute will be created under (projects/{project}).",
          "type": "string"
        },
        "selectedRoute": {
          "$ref": "SelectedRoute",
          "description": "Required. The SelectedRoute to create."
        },
        "selectedRouteId": {
          "description": "Optional. The ID to use for the SelectedRoute (4-63 chars, [a-zA-Z0-9-]*).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DynamicRoute": {
      "id": "DynamicRoute",
      "properties": {
        "destination": {
          "$ref": "LatLng",
          "description": "Required. Ending location of the route."
        },
        "intermediates": {
          "description": "Optional. A set of intermediate waypoints along the route (max 25).",
          "items": {
            "$ref": "LatLng"
          },
          "type": "array"
        },
        "origin": {
          "$ref": "LatLng",
          "description": "Required. Origin location of the route."
        }
      },
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "LatLng": {
      "id": "LatLng",
      "properties": {
        "latitude": {
          "description": "The latitude in degrees (-90 to 90).",
          "format": "double",
          "type": "number"
        },
        "longitude": {
          "description": "The longitude in degrees (-180 to 180).",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object"
    },
    "ListSelectedRoutesResponse": {
      "id": "ListSelectedRoutesResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token that can be sent as pageToken to retrieve the next page.",
          "type": "string"
        },
        "selectedRoutes": {
          "description": "A page of SelectedRoute resources stored in the project.",
          "items": {
            "$ref": "SelectedRoute"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "SelectedRoute": {
      "id": "SelectedRoute",
      "properties": {
        "createTime": {
          "description": "Output only. Time when the selected route was first created.",
          "format": "google-datetime",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. Display name of the route (max 100 characters).",
          "type": "string"
        },
        "dynamicRoute": {
          "$ref": "DynamicRoute",
          "description": "Required. The dynamic route definition."
        },
        "name": {
          "description": "Output only. Resource name formatted as projects/{project}/selectedRoutes/{selected_route}.",
          "type": "string"
        },
        "routeAttributes": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Up to 10 key-value pairs (1-100 chars, keys must not start with 'goog').",
          "type": "object"
        },
        "state": {
          "description": "Output only. The state of the selected route.",
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_SCHEDULING",
            "STATE_RUNNING",
            "STATE_DELETING",
            "STATE_VALIDATING",
            "STATE_INVALID"
          ],
          "enumDescriptions": [
            "The state of this route is not set.",
            "The route has been created and is being scheduled.",
            "The route has been created and has an active schedule.",
            "The route has been marked for deletion.",
            "The route is in the process of being validated.",
            "The route is invalid based on one of the validation criteria."
          ],
          "type": "string"
        },
        "validationError": {
          "description": "Output only. The validation error when the state is STATE_INVALID.",
          "enum": [
            "VALIDATION_ERROR_UNSPECIFIED",
            "VALIDATION_ERROR_ROUTE_OUTSIDE_JURISDICTION",
            "VALIDATION_ERROR_LOW_ROAD_USAGE"
          ],
          "enumDescriptions": [
            "The validation error of this route is not set.",
            "The route is outside the jurisdiction of the project.",
            "The route has low road usage (very few people pass through it)."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "UpdateSelectedRouteRequest": {
      "id": "UpdateSelectedRouteRequest",
      "properties": {
        "selectedRoute": {
          "$ref": "SelectedRoute",
          "description": "Required. The SelectedRoute to update. The name field identifies the route."
        },
        "updateMask": {
          "description": "Optional. The list of fields to update (e.g. 'display_name,route_attributes,dynamic_route').",
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "servicePath": "",
  "title": "Roads Selection API",
  "version": "v1"
}
