{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "basePath": "",
  "baseUrl": "https://geminidataanalytics.googleapis.com/",
  "batchPath": "batch",
  "canonicalName": "Data Analytics API with Gemini",
  "description": "The Gemini Data Analytics API enables developers to build intelligent data analytics applications. Leverage AI-powered chat interfaces to allow users to interact with and analyze structured data using natural language.",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/gemini/docs/conversational-analytics-api/overview",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://geminidataanalytics.us.rep.googleapis.com/",
      "location": "us"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://geminidataanalytics.eu.rep.googleapis.com/",
      "location": "eu"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://geminidataanalytics.europe-west2.rep.googleapis.com/",
      "location": "europe-west2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://geminidataanalytics.europe-west4.rep.googleapis.com/",
      "location": "europe-west4"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://geminidataanalytics.us-south1.rep.googleapis.com/",
      "location": "us-south1"
    }
  ],
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "geminidataanalytics:v1alpha",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://geminidataanalytics.mtls.googleapis.com/",
  "name": "geminidataanalytics",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "chat": {
              "description": "Answers a data question by generating a stream of Message objects.",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}:chat",
              "httpMethod": "POST",
              "id": "geminidataanalytics.projects.locations.chat",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The parent value for chat request. Pattern: `projects/{project}/locations/{location}`",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha/{+parent}:chat",
              "request": {
                "$ref": "GoogleCloudGeminidataanalyticsV1alphaChatRequest"
              },
              "response": {
                "$ref": "GoogleCloudGeminidataanalyticsV1alphaMessage"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "description": "Gets information about a location.",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}",
              "httpMethod": "GET",
              "id": "geminidataanalytics.projects.locations.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha/{+name}",
              "response": {
                "$ref": "GoogleCloudLocationLocation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "flatPath": "v1alpha/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "id": "geminidataanalytics.projects.locations.list",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1alpha/{+name}/locations",
              "response": {
                "$ref": "GoogleCloudLocationListLocationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "queryData": {
              "description": "Queries data from a natural language user query.",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}:queryData",
              "httpMethod": "POST",
              "id": "geminidataanalytics.projects.locations.queryData",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource to generate the query for. Format: projects/{project}/locations/{location}",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha/{+parent}:queryData",
              "request": {
                "$ref": "GoogleCloudGeminidataanalyticsV1alphaQueryDataRequest"
              },
              "response": {
                "$ref": "GoogleCloudGeminidataanalyticsV1alphaQueryDataResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "retrieveAgentOpsObservability": {
              "description": "Gets AgentOps observability settings and status of required services.",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}:retrieveAgentOpsObservability",
              "httpMethod": "GET",
              "id": "geminidataanalytics.projects.locations.retrieveAgentOpsObservability",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "dataSourceType": {
                  "description": "Required. The data source type for which to retrieve observability settings. Examples: \"bigquery\", \"looker\"",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. Parent value for RetrieveAgentOpsObservabilityRequest. Format: projects/{project}/locations/{location}",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha/{+parent}:retrieveAgentOpsObservability",
              "response": {
                "$ref": "GoogleCloudGeminidataanalyticsV1alphaRetrieveAgentOpsObservabilityResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "conversations": {
              "methods": {
                "create": {
                  "description": "Creates a new conversation to persist the conversation history. Each conversation will have multiple messages associated with it.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/conversations",
                  "httpMethod": "POST",
                  "id": "geminidataanalytics.projects.locations.conversations.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "conversationId": {
                      "description": "Optional. The conversation id of the conversation to create. Must be unique within the parent. The allowed format is: `^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$`. If not provided, the server will auto-generate a value for the id.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Parent value for CreateConversationRequest. Format: `projects/{project}/locations/{location}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+parent}/conversations",
                  "request": {
                    "$ref": "GoogleCloudGeminidataanalyticsV1alphaConversation"
                  },
                  "response": {
                    "$ref": "GoogleCloudGeminidataanalyticsV1alphaConversation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "description": "Deletes a conversation.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}",
                  "httpMethod": "DELETE",
                  "id": "geminidataanalytics.projects.locations.conversations.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the resource. Format: `projects/{project}/locations/{location}/conversations/{conversation}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "description": "Gets details of a single conversation by using conversation id and parent.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}",
                  "httpMethod": "GET",
                  "id": "geminidataanalytics.projects.locations.conversations.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the resource. Format: `projects/{project}/locations/{location}/conversations/{conversation}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "GoogleCloudGeminidataanalyticsV1alphaConversation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "description": "Lists all conversations for a given parent.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/conversations",
                  "httpMethod": "GET",
                  "id": "geminidataanalytics.projects.locations.conversations.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "filter": {
                      "description": "Optional. Returned conversations will match criteria specified within the filter. ListConversations allows filtering by: * agents * labels",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer items than requested. The max page size is `100`. All larger page sizes will be coerced to `100`. If unspecified, server will pick `50` as an appropriate default.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Parent value for ListConversationsRequest. Format: `projects/{project}/locations/{location}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+parent}/conversations",
                  "response": {
                    "$ref": "GoogleCloudGeminidataanalyticsV1alphaListConversationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              },
              "resources": {
                "messages": {
                  "methods": {
                    "list": {
                      "description": "Lists all messages for a given conversation.",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/messages",
                      "httpMethod": "GET",
                      "id": "geminidataanalytics.projects.locations.conversations.messages.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "filter": {
                          "description": "Optional. Filtering results. See [AIP-160](https://google.aip.dev/160) for syntax. ListMessages allows filtering by: * create_time (e.g., `createTime > \"2025-01-28T06:51:56-08:00\"`) * update_time",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Optional. Requested page size. Server may return fewer items than requested. The max page size is `100`. All larger page sizes will be coerced to `100`. If unspecified, server will pick `50` as an appropriate default.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "Optional. A token identifying a page of results the server should return.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. The conversation to list messages under. Format: `projects/{project}/locations/{location}/conversations/{conversation_id}`",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v1alpha/{+parent}/messages",
                      "response": {
                        "$ref": "GoogleCloudGeminidataanalyticsV1alphaListMessagesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            },
            "dataAgents": {
              "methods": {
                "create": {
                  "description": "Creates a new DataAgent in a given project and location.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataAgents",
                  "httpMethod": "POST",
                  "id": "geminidataanalytics.projects.locations.dataAgents.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "dataAgentId": {
                      "description": "Optional. Id of the requesting object. Must be unique within the parent. The allowed format is: `^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$`. If not provided, the server will auto-generate a value for the id.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Value for parent.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+parent}/dataAgents",
                  "request": {
                    "$ref": "GoogleCloudGeminidataanalyticsV1alphaDataAgent"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "createSync": {
                  "description": "Creates a new DataAgent in a given project and location synchronously.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataAgents:createSync",
                  "httpMethod": "POST",
                  "id": "geminidataanalytics.projects.locations.dataAgents.createSync",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "dataAgentId": {
                      "description": "Optional. Id of the requesting object. Must be unique within the parent. The allowed format is: `^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$`. If not provided, the server will auto-generate a value for the id.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Value for parent.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+parent}/dataAgents:createSync",
                  "request": {
                    "$ref": "GoogleCloudGeminidataanalyticsV1alphaDataAgent"
                  },
                  "response": {
                    "$ref": "GoogleCloudGeminidataanalyticsV1alphaDataAgent"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "description": "Deletes a single DataAgent.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataAgents/{dataAgentsId}",
                  "httpMethod": "DELETE",
                  "id": "geminidataanalytics.projects.locations.dataAgents.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the resource.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataAgents/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "deleteSync": {
                  "description": "Deletes a single DataAgent synchronously.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataAgents/{dataAgentsId}:deleteSync",
                  "httpMethod": "DELETE",
                  "id": "geminidataanalytics.projects.locations.dataAgents.deleteSync",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the resource.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataAgents/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+name}:deleteSync",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "description": "Gets details of a single DataAgent.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataAgents/{dataAgentsId}",
                  "httpMethod": "GET",
                  "id": "geminidataanalytics.projects.locations.dataAgents.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the resource.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataAgents/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "GoogleCloudGeminidataanalyticsV1alphaDataAgent"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "getIamPolicy": {
                  "description": "Gets the IAM policy for DataAgent",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataAgents/{dataAgentsId}:getIamPolicy",
                  "httpMethod": "POST",
                  "id": "geminidataanalytics.projects.locations.dataAgents.getIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataAgents/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+resource}:getIamPolicy",
                  "request": {
                    "$ref": "GoogleIamV1GetIamPolicyRequest"
                  },
                  "response": {
                    "$ref": "GoogleIamV1Policy"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "description": "Lists DataAgents in a given project and location.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataAgents",
                  "httpMethod": "GET",
                  "id": "geminidataanalytics.projects.locations.dataAgents.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "filter": {
                      "description": "Optional. Filtering results. See [AIP-160](https://google.aip.dev/160) for syntax.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Optional. User specification for how to order the results.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListDataAgents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDataAgents` must match the call that provided the page token. The service may return fewer than this value.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Parent value for ListDataAgentsRequest.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "showDeleted": {
                      "description": "Optional. If true, the list results will include soft-deleted DataAgents. Defaults to false.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "path": "v1alpha/{+parent}/dataAgents",
                  "response": {
                    "$ref": "GoogleCloudGeminidataanalyticsV1alphaListDataAgentsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "listAccessible": {
                  "description": "Lists DataAgents that are accessible to the caller in a given project and location.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataAgents:listAccessible",
                  "httpMethod": "GET",
                  "id": "geminidataanalytics.projects.locations.dataAgents.listAccessible",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "creatorFilter": {
                      "description": "Optional. Filter for the creator of the agent.",
                      "enum": [
                        "CREATOR_FILTER_UNSPECIFIED",
                        "NONE",
                        "CREATOR_ONLY",
                        "NOT_CREATOR_ONLY"
                      ],
                      "enumDescriptions": [
                        "Default value.",
                        "No creator-specific filter will be applied. All agents will be returned.",
                        "Only agents created by the user calling the API will be returned.",
                        "Only agents not created by the user calling the API will be returned."
                      ],
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. Filtering results. See [AIP-160](https://google.aip.dev/160) for syntax.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Optional. User specification for how to order the results.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListAccessibleDataAgents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccessibleDataAgents` must match the call that provided the page token. The service may return fewer than this value.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Parent value for ListAccessibleDataAgentsRequest.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "showDeleted": {
                      "description": "Optional. If true, the list results will include soft-deleted DataAgents. Defaults to false.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "path": "v1alpha/{+parent}/dataAgents:listAccessible",
                  "response": {
                    "$ref": "GoogleCloudGeminidataanalyticsV1alphaListAccessibleDataAgentsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "description": "Updates the parameters of a single DataAgent.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataAgents/{dataAgentsId}",
                  "httpMethod": "PATCH",
                  "id": "geminidataanalytics.projects.locations.dataAgents.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Optional. Identifier. The unique resource name of a DataAgent. Format: `projects/{project}/locations/{location}/dataAgents/{data_agent_id}` `{data_agent}` is the resource id and should be 63 characters or less and must match the format described in https://google.aip.dev/122#resource-id-segments Example: `projects/1234567890/locations/global/dataAgents/my-agent`. It is recommended to skip setting this field during agent creation as it will be inferred automatically and overwritten with the {parent}/dataAgents/{data_agent_id}.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataAgents/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the DataAgent resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields with non-default values present in the request will be overwritten. If a wildcard mask is provided, all fields will be overwritten.",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "request": {
                    "$ref": "GoogleCloudGeminidataanalyticsV1alphaDataAgent"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "setIamPolicy": {
                  "description": "Sets the IAM policy for a DataAgent.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataAgents/{dataAgentsId}:setIamPolicy",
                  "httpMethod": "POST",
                  "id": "geminidataanalytics.projects.locations.dataAgents.setIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataAgents/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+resource}:setIamPolicy",
                  "request": {
                    "$ref": "GoogleIamV1SetIamPolicyRequest"
                  },
                  "response": {
                    "$ref": "GoogleIamV1Policy"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "updateSync": {
                  "description": "Updates the parameters of a single DataAgent synchronously.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataAgents/{dataAgentsId}:updateSync",
                  "httpMethod": "PATCH",
                  "id": "geminidataanalytics.projects.locations.dataAgents.updateSync",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Optional. Identifier. The unique resource name of a DataAgent. Format: `projects/{project}/locations/{location}/dataAgents/{data_agent_id}` `{data_agent}` is the resource id and should be 63 characters or less and must match the format described in https://google.aip.dev/122#resource-id-segments Example: `projects/1234567890/locations/global/dataAgents/my-agent`. It is recommended to skip setting this field during agent creation as it will be inferred automatically and overwritten with the {parent}/dataAgents/{data_agent_id}.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataAgents/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the DataAgent resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields with non-default values present in the request will be overwritten. If a wildcard mask is provided, all fields will be overwritten.",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+name}:updateSync",
                  "request": {
                    "$ref": "GoogleCloudGeminidataanalyticsV1alphaDataAgent"
                  },
                  "response": {
                    "$ref": "GoogleCloudGeminidataanalyticsV1alphaDataAgent"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "observabilitySettings": {
              "methods": {
                "setAgentOpsObservability": {
                  "description": "Enables/Disables required GCP services and configures AgentOps observability settings calling the Admin Settings executable node to update the AgentOps Observability feature.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observabilitySettings:setAgentOpsObservability",
                  "httpMethod": "POST",
                  "id": "geminidataanalytics.projects.locations.observabilitySettings.setAgentOpsObservability",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. Parent value for SetAgentOpsObservabilityRequest. Format: projects/{project}/locations/{location}",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+parent}/observabilitySettings:setAgentOpsObservability",
                  "request": {
                    "$ref": "GoogleCloudGeminidataanalyticsV1alphaSetAgentOpsObservabilityRequest"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "operations": {
              "methods": {
                "cancel": {
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "id": "geminidataanalytics.projects.locations.operations.cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+name}:cancel",
                  "request": {
                    "$ref": "GoogleLongrunningCancelOperationRequest"
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "id": "geminidataanalytics.projects.locations.operations.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "id": "geminidataanalytics.projects.locations.operations.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "id": "geminidataanalytics.projects.locations.operations.list",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "path": "v1alpha/{+name}/operations",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "revision": "20260815",
  "rootUrl": "https://geminidataanalytics.googleapis.com/",
  "schemas": {
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudGeminidataanalyticsV1alphaAgentContextReference": {
      "description": "Message representing a reference to Agent Context.",
      "id": "GoogleCloudGeminidataanalyticsV1alphaAgentContextReference",
      "properties": {
        "contextSetId": {
          "description": "Required. Context set ID to retrieve.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudGeminidataanalyticsV1alphaAlloyDbDatabaseReference": {
      "description": "Message representing a reference to a single AlloyDB database.",
      "id": "GoogleCloudGeminidataanalyticsV1alphaAlloyDbDatabaseReference",
      "properties": {
        "clusterId": {
          "description": "Required. The cluster id.",
          "type": "string"
        },
        "databaseId": {
          "description": "Required. The database id.",
          "type": "string"
        },
        "databaseTableReferences": {
          "description": "Optional. References to tables within the database. Each reference specifies a table and can optionally include the table's schema to provide context for the query.",
          "items": {
            "$ref": "GoogleCloudGeminidataanalyticsV1alphaDatabaseTableReference"
          },
          "type": "array"
        },
        "instanceId": {
          "description": "Required. The instance id.",
          "type": "string"
        },
        "projectId": {
          "description": "Required. The project the instance belongs to.",
          "type": "string"
        },
        "region": {
          "description": "Required. The region of the instance.",
          "type": "string"
        },
        "tableIds": {
          "description": "Optional. The table ids. Denotes all tables if unset.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudGeminidataanalyticsV1alphaAlloyDbReference": {
      "description": "Message representing reference to an AlloyDB database and agent context. Only supported for the `QueryData` method.",
      "id": "GoogleCloudGeminidataanalyticsV1alphaAlloyDbReference",
      "properties": {
        "agentContextReference": {
          "$ref": "GoogleCloudGeminidataanalyticsV1alphaAgentContextReference",
          "description": "Optional. Parameters for retrieving data from Agent Context."
        },
        "databaseReference": {
          "$ref": "GoogleCloudGeminidataanalyticsV1alphaAlloyDbDatabaseReference",
          "description": "Required. Singular proto that supports specifying which database and tables to include."
        }
      },
      "type": "object"
    },
    "GoogleCloudGeminidataanalyticsV1alphaAnalysisEvent": {
      "description": "An event indicating the progress of an analysis.",
      "id": "GoogleCloudGeminidataanalyticsV1alphaAnalysisEvent",
      "properties": {
        "code": {
          "description": "Generated code.",
          "type": "string"
        },
        "coderInstruction": {
          "description": "Instructions issued for code generation.",
          "type": "string"
        },
        "error": {
          "description": "A generic error message.",
          "type": "string"
        },
        "executionError": {
          "description": "An error from code execution.",
          "type": "string"
        },
        "executionOutput": {
          "description": "Output from code execution.",
          "type": "string"
        },
        "plannerReasoning": {
          "description": "Python codegen planner's reasoning.",
          "type": "string"
        },
        "resultCsvData": {
          "description": "Result as CSV string.",
          "type": "string"
        },
        "resultNaturalLanguage": {
          "description": "Result as NL string.",
          "type": "string"
        },
        "resultReferenceData": {
          "description": "Result as a reference to a data source.",
          "type": "string"
        },
        "resultVegaChartJson": {
          "description": "Result as Vega chart JSON string.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudGeminidataanalyticsV1alphaAnalysisMessage": {
      "description": "A message produced during analysis.",
      "id": "GoogleCloudGeminidataanalyticsV1alphaAnalysisMessage",
      "properties": {
        "progressEvent": {
          "$ref": "GoogleCloudGeminidataanalyticsV1alphaAnalysisEvent",
          "description": "An event indicating the progress of the analysis."
        },
        "query": {
          "$ref": "GoogleCloudGeminidataanalyticsV1alphaAnalysisQuery",
          "description": "An analysis query."
        }
      },
      "type": "object"
    },
    "GoogleCloudGeminidataanalyticsV1alphaAnalysisOptions": {
      "description": "Options for analysis.",
      "id": "GoogleCloudGeminidataanalyticsV1alphaAnalysisOptions",
      "properties": {
        "python": {
          "$ref": "GoogleCloudGeminidataanalyticsV1alphaAnalysisOptionsPython",
          "description": "Optional. Options for Python analysis."
        }
      },
      "type": "object"
    },
    "GoogleCloudGeminidataanalyticsV1alphaAnalysisOptionsPython": {
      "description": "Options for Python analysis.",
      "id": "GoogleCloudGeminidataanalyticsV1alphaAnalysisOptionsPython",
      "properties": {
        "enabled": {
          "description": "Optional. Whether to enable Python analysis. Defaults to false.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudGeminidataanalyticsV1alphaAnalysisQuery": {
      "description": "A query for performing an analysis.",
      "id": "GoogleCloudGeminidataanalyticsV1alphaAnalysisQuery",
      "properties": {
        "dataResultNames": {
          "description": "Optional. The names of previously retrieved data results to analyze.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "question": {
          "description": "Optional. An analysis question to help answer the user's original question.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudGeminidataanalyticsV1alphaBigQueryJob": {
      "description": "A BigQuery job executed by the system.",
      "id": "GoogleCloudGeminidataanalyticsV1alphaBigQueryJob",
      "properties": {
        "destinationTable": {
          "$ref": "GoogleCloudGeminidataanalyticsV1alphaBigQueryTableReference",
          "description": "Optional. A reference to the destination table of the job's query results. See [JobConfigurationQuery](https://cloud.google.com/bigquery/docs/reference/rest/v2/Job#jobconfigurationquery)."
        },
        "jobId": {
          "description": "Required. The ID of the job. See [JobReference](https://cloud.google.com/bigquery/docs/reference/rest/v2/JobReference).",
          "type": "string"
        },
        "location": {
          "description": "Optional. The location of the job. See [JobReference](https://cloud.google.com/bigquery/docs/reference/rest/v2/JobReference).",
          "type": "string"
        },
        "projectId": {
          "description": "Required. The project that the job belongs to. See [JobReference](https://cloud.google.com/bigquery/docs/reference/rest/v2/JobReference).",
          "type": "string"
        },
        "schema": {
          "$ref": "GoogleCloudGeminidataanalyticsV1alphaSchema",
          "description": "Optional. The schema of the job's query results. See [JobStatistics2](https://cloud.google.com/bigquery/docs/reference/rest/v2/Job#jobstatistics2)."
        }
      },
      "type": "object"
    },
    "GoogleCloudGeminidataanalyticsV1alphaBigQueryPropertyGraphReference": {
      "description": "Message representing a reference to a single BigQuery property graph.",
      "id": "GoogleCloudGeminidataanalyticsV1alphaBigQueryPropertyGraphReference",
      "properties": {
        "datasetId": {
          "description": "Required. The dataset that the property graph belongs to.",
          "type": "string"
        },
        "projectId": {
          "description": "Required. The project that the property graph belongs to.",
          "type": "string"
        },
        "propertyGraphId": {
          "description": "Required. The property graph id.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudGeminidataanalyticsV1alphaBigQueryRoutine": {
      "description": "A reference to a BigQuery routine.",
      "id": "GoogleCloudGeminidataanalyticsV1alphaBigQueryRoutine",
      "properties": {
        "description": {
          "description": "User override or addition to description, to tell the agent when to use the UDF.",
          "type": "string"
        },
        "routineReference": {
          "$ref": "GoogleCloudGeminidataanalyticsV1alphaBigQueryRoutineReference",
          "description": "The reference to the BigQuery routine."
        }
      },
      "type": "object"
    },
    "GoogleCloudGeminidataanalyticsV1alphaBigQueryRoutineReference": {
      "description": "A reference to a BigQuery routine.",
      "id": "GoogleCloudGeminidataanalyticsV1alphaBigQueryRoutineReference",
      "properties": {
        "datasetId": {
          "description": "The dataset ID of the routine.",
          "type": "string"
        },
        "projectId": {
          "description": "The project ID of the routine.",
          "type": "string"
        },
        "routineId": {
          "description": "The routine ID of the routine.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudGeminidataanalyticsV1alphaBigQueryTableReference": {
      "description": "Message representing a reference to a single BigQuery table.",
      "id": "GoogleCloudGeminidataanalyticsV1alphaBigQueryTableReference",
      "properties": {
        "datasetId": {
          "description": "Required. The dataset that the table belongs to.",
          "type": "string"
        },
        "projectId": {
          "description": "Required. The project that the table belongs to.",
          "type": "string"
        },
        "schema": {
          "$ref": "GoogleCloudGeminidataanalyticsV1alphaSchema",
          "description": "Optional. The schema of the datasource."
        },
        "tableId": {
          "description": "Required. The table id.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudGeminidataanalyticsV1alphaBigQueryTableReferences": {
      "description": "Message representing references to BigQuery tables and property graphs. At least one of `table_references`, `property_graph_references`, or `search_scope` must be populated.",
      "id": "GoogleCloudGeminidataanalyticsV1alphaBigQueryTableReferences",
      "properties": {
        "agentContextReference": {
          "$ref": "GoogleCloudGeminidataanalyticsV1alphaAgentContextReference",
          "description": "Optional. Parameters for retrieving data from Agent Context."
        },
        "propertyGraphReferences": {
          "description": "Optional. Preview feature. References to BigQuery property graphs. Note: Data sources must exclusively use either tables or property graphs, not both. When using property graphs, a maximum of one graph reference is supported.",
          "items": {
            "$ref": "GoogleCloudGeminidataanalyticsV1alphaBigQueryPropertyGraphReference"
          },
          "type": "array"
        },
        "tableReferences": {
          "description": "Optional. References to BigQuery tables.",
          "items": {
            "$ref": "GoogleCloudGeminidataanalyticsV1alphaBigQueryTableReference"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudGeminidataanalyticsV1alphaBigtableDatabaseReference": {
      "description": "Message representing reference to Bigtable database.",
      "id": "GoogleCloudGeminidataanalyticsV1alphaBigtableDatabaseReference",
      "properties": {
        "databaseTableReferences": {
          "description": "Optional. References to tables within the database. Each reference specifies a table and can optionally include the table's schema to provide context for the query.",
          "items": {
            "$ref": "GoogleCloudGeminidataanalyticsV1alphaDatabaseTableReference"
          },
          "type": "array"
        },
        "instanceId": {
          "description": "Required. The instance id.",
          "type": "string"
        },
        "projectId": {
          "description": "Required. The project the instance belongs to.",
          "type": "string"
        },
        "tableIds": {
          "description": "Optional. The table ids. Denotes all tables if unset.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudGeminidataanalyticsV1alphaBigtableReference": {
      "description": "Message representing reference to a Bigtable instance and agent context.",
      "id": "GoogleCloudGeminidataanalyticsV1alphaBigtableReference",
      "properties": {
        "agentContextReference": {
          "$ref": "GoogleCloudGeminidataanalyticsV1alphaAgentContextReference",
          "description": "Optional. Parameters for retrieving data from Agent Context."
        },
        "databaseReference": {
          "$ref": "GoogleCloudGeminidataanalyticsV1alphaBigtableDatabaseReference",
          "description": "Required. Singular proto that supports specifying which database and tables to include."
        }
      },
      "type": "object"
    },
    "GoogleCloudGeminidataanalyticsV1alphaBlob": {
      "description": "A blob of data with a MIME type.",
      "id": "GoogleCloudGeminidataanalyticsV1alphaBlob",
      "properties": {
        "data": {
          "description": "Required. The data represented as bytes.",
          "format": "byte",
          "type": "string"
        },
        "mimeType": {
          "description": "Required. The IANA standard MIME type of the message data.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudGeminidataanalyticsV1alphaChartMessage": {
      "description": "A message produced during chart generation.",
      "id": "GoogleCloudGeminidataanalyticsV1alphaChartMessage",
      "properties": {
        "query": {
          "$ref": "GoogleCloudGeminidataanalyticsV1alphaChartQuery",
          "description": "A query for generating a chart."
        },
        "result": {
          "$ref": "GoogleCloudGeminidataanalyticsV1alphaChartResult",
          "description": "The result of a chart generation query."
        }
      },
      "type": "object"
    },
    "GoogleCloudGeminidataanalyticsV1alphaChartOptions": {
      "description": "Options for chart generation.",
      "id": "GoogleCloudGeminidataanalyticsV1alphaChartOptions",
      "properties": {
        "image": {
          "$ref": "GoogleCloudGeminidataanalyticsV1alphaChartOptionsImageOptions",
          "description": "Optional. When specified, the agent will render generated charts using the provided format. Defaults to no image."
        }
      },
      "type": "object"
    },
    "GoogleCloudGeminidataanalyticsV1alphaChartOptionsImageOptions": {
      "description": "Options for rendering images of generated charts.",
      "id": "GoogleCloudGeminidataanalyticsV1alphaChartOptionsImageOptions",
      "properties": {
        "noImage": {
          "$ref": "GoogleCloudGeminidataanalyticsV1alphaChartOptionsImageOptionsNoImage",
          "description": "No image."
        },
        "svg": {
          "$ref": "GoogleCloudGeminidataanalyticsV1alphaChartOptionsImageOptionsSvgOptions",
          "description": "SVG format."
        }
      },
      "type": "object"
    },
    "GoogleCloudGeminidataanalyticsV1alphaChartOptionsImageOptionsNoImage": {
      "description": "No image.",
      "id": "GoogleCloudGeminidataanalyticsV1alphaChartOptionsImageOptionsNoImage",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudGeminidataanalyticsV1alphaChartOptionsImageOptionsSvgOptions": {
      "description": "SVG options.",
      "id": "GoogleCloudGeminidataanalyticsV1alphaChartOptionsImageOptionsSvgOptions",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudGeminidataanalyticsV1alphaChartQuery": {
      "description": "A query for generating a chart.",
      "id": "GoogleCloudGeminidataanalyticsV1alphaChartQuery",
      "properties": {
        "dataResultName": {
          "description": "Optional. The name of a previously retrieved data result to use in the chart.",
          "type": "string"
        },
        "instructions": {
          "description": "Optional. Natural language instructions for generating the chart.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudGeminidataanalyticsV1alphaChartResult": {
      "description": "The result of a chart generation query.",
      "id": "GoogleCloudGeminidataanalyticsV1alphaChartResult",
      "properties": {
        "image": {
          "$ref": "GoogleCloudGeminidataanalyticsV1alphaBlob",
          "description": "Optional. A rendering of the chart if this was requested in the context."
        },
        "vegaConfig": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. A generated Vega chart config. See https://vega.github.io/vega/docs/config/",
          "type": "object"
        }
      },
      "type": "object"
    },
    "GoogleCloudGeminidataanalyticsV1alphaChatRequest": {
      "description": "Request for Chat.",
      "id": "GoogleCloudGeminidataanalyticsV1alphaChatRequest",
      "properties": {
        "clientManagedResourceContext": {
          "$ref": "GoogleCloudGeminidataanalyticsV1alphaClientManagedResourceContext",
          "description": "Optional. Context with client managed resources. Some clients may not use GDA managed resources including conversations and agents, instead they create and manage their own conversations and agents resources."
        },
        "conversationReference": {
          "$ref": "GoogleCloudGeminidataanalyticsV1alphaConversationReference",
          "description": "Optional. Reference to a persisted conversation and agent context. Use this to chat with an Agent using managed conversation persistence."
        },
        "credentials": {
          "$ref": "GoogleCloudGeminidataanalyticsV1alphaCredentials",
          "description": "Optional. The credentials to use when calling the data source(s) specified in the context. This field can be used to provide credentials for various data sources. For example, when connecting to Looker, it currently supports both OAuth token and API key-based credentials, as described in [Authentication with an SDK](https://cloud.google.com/looker/docs/api-auth#authentication_with_an_sdk)."
        },
        "dataAgentContext": {
          "$ref": "GoogleCloudGeminidataanalyticsV1alphaDataAgentContext",
          "description": "Optional. Context for the chat request. Use this to chat with an Agent statelessly, without managed conversation persistence."
        },
        "inlineContext": {
          "$ref": "GoogleCloudGeminidataanalyticsV1alphaContext",
          "description": "Optional. Inline context for the chat request. Use this to chat statelessly (without managed conversation persistence and without an Agent) by passing all context inline."
        },
        "lookerSettings": {
          "$ref": "GoogleCloudGeminidataanalyticsV1alphaLookerSettings",
          "description": "Optional. Looker specific settings."
        },
        "messages": {
          "description": "Required. Content of current conversation.",
          "items": {
            "$ref": "GoogleCloudGeminidataanalyticsV1alphaMessage"
          },
          "type": "array"
        },
        "model": {
          "description": "Optional. The model to use for the agent loop when processing the request. This setting only has an effect when context.options.model is not set.",
          "enum": [
            "MODEL_UNSPECIFIED",
            "LATEST_GA_MODEL"
          ],
          "enumDescriptions": [
            "No model specified. Either preview or non preview model can be used.",
            "Use the most up-to-date non-preview model. This may constrain certain request level settings."
          ],
          "type": "string"
        },
        "project": {
          "deprecated": true,
          "description": "Optional. Deprecated: Use `parent` field instead. The Google Cloud project to be used for quota and billing.",
          "type": "string"
        },
        "thinkingMode": {
          "description": "Optional. The thinking mode to use for the agent loop. Defaults to THINKING_MODE_UNSPECIFIED if not specified.",
          "enum": [
            "THINKING_MODE_UNSPECIFIED",
            "FAST",
            "THINKING"
          ],
          "enumDescriptions": [
            "Unspecified thinking mode, agent will use THINKING mode by default except for BigQuery user defaulting to FAST mode by default.",
            "Fast mode, answers quickly.",
            "Thinking mode, solves complex problems."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudGeminidataanalyticsV1alphaCitation": {
      "description": "Source attributions for content.",
      "id": "GoogleCloudGeminidataanalyticsV1alphaCitation",
      "properties": {
        "anchors": {
          "description": "Output only. List of the anchors of the citations.",
          "items": {
            "$ref": "GoogleCloudGeminidataanalyticsV1alphaCitationAnchor"
          },
          "readOnly": true,
          "type": "array"
        },
        "sources": {
          "description": "Output only. List of the sources being cited.",
          "items": {
            "$ref": "GoogleCloudGeminidataanalyticsV1alphaCitationSource"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudGeminidataanalyticsV1alphaCitationAnchor": {
      "description": "The anchor of the citation.",
      "id": "GoogleCloudGeminidataanalyticsV1alphaCitationAnchor",
      "properties": {
        "textMessageAnchor": {
          "$ref": "GoogleCloudGeminidataanalyticsV1alphaCitationAnchorTextMessageCitationAnchor",
          "description": "Output only. Only set if the citation is for a TextMessage.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudGeminidataanalyticsV1alphaCitationAnchorTextMessageCitationAnchor": {
      "description": "Citation anchor within a TextMessage.",
      "id": "GoogleCloudGeminidataanalyticsV1alphaCitationAnchorTextMessageCitationAnchor",
      "properties": {
        "endOffsetBytes": {
          "description": "Output only. The offset, measured in UTF-8 bytes, within the part string where the citation ends (exclusive). Example: For the text \"Hello, world\" where \"world\" is cited, the start offset bytes (inclusive) is 7 and the end offset bytes (exclusive) is 12.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "partIndex": {
          "description": "Output only. The 0-based index of the part within the TextMessage.parts field.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "sourceIds": {
          "description": "Output only. The ids of the sources that are cited.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "startOffsetBytes": {
          "description": "Output only. The offset, measured in UTF-8 bytes, within the part string where the citation begins (inclusive). Example: For the text \"Hello, world\" where \"world\" is cited, the start offset bytes (inclusive) is 7 and the end offset bytes (exclusive) is 12.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleCloudGeminidataanalyticsV1alphaCitationSource": {
      "description": "The source of the citation.",
      "id": "GoogleCloudGeminidataanalyticsV1alphaCitationSource",
      "properties": {
        "exampleQuery": {
          "$ref": "GoogleCloudGeminidataanalyticsV1alphaExampleQuery",
          "description": "Output only. The example query used as the source.",
          "readOnly": true
        },
        "glossaryTerm": {
          "$ref": "GoogleCloudGeminidataanalyticsV1alphaGlossaryTerm",
          "description": "Output only. The glossary term used as the source.",
          "readOnly": true
        },
        "id": {
          "description": "Output only. Unique identifier of the source. This ID is service-generated and is unique within the scope of a single `Citation` message.",
          "readOnly": true,
          "type": "string"
        },
        "title": {
          "description": "Output only. The title of the source.",
          "readOnly": true,
          "type": "string"
        },
        "uri": {
          "description": "Output only. The uri used as the source, such as a web grounding URL.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudGeminidataanalyticsV1alphaClarificationMessage": {
      "deprecated": true,
      "description": "Deprecated: Use TextMessage with TextType.FINAL_RESPONSE instead. A message of questions to help clarify the user's query. This is returned when the system cannot confidently answer the user's question.",
      "id": "GoogleCloudGeminidataanalyticsV1alphaClarificationMessage",
      "properties": {
        "questions": {
          "deprecated": true,
          "description": "Required. Deprecated: The parent message is deprecated. A batch of clarification questions to ask the user.",
          "items": {
            "$ref": "GoogleCloudGeminidataanalyticsV1alphaClarificationQuestion"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudGeminidataanalyticsV1alphaClarificationQuestion": {
      "deprecated": true,
      "description": "Deprecated: Use TextMessage with TextType.FINAL_RESPONSE instead. Represents a single question to the user to help clarify their query.",
      "id": "GoogleCloudGeminidataanalyticsV1alphaClarificationQuestion",
      "properties": {
        "clarificationQuestionType": {
          "deprecated": true,
          "description": "Optional. Deprecated: The parent message is deprecated. The type of clarification question.",
          "enum": [
            "CLARIFICATION_QUESTION_TYPE_UNSPECIFIED",
            "FILTER_VALUES",
            "FIELDS"
          ],
          "enumDeprecated": [
            true,
            true,
            true
          ],
          "enumDescriptions": [
            "Deprecated: The parent message is deprecated. Unspecified clarification question type.",
            "Deprecated: The parent message is deprecated. The clarification question is for filter values.",
            "Deprecated: The parent message is deprecated. The clarification question is for data fields. This is a generic term encompassing SQL columns, Looker fields (dimensions/measures), or nested data structure properties."
          ],
          "type": "string"
        },
        "options": {
          "deprecated": true,
          "description": "Required. Deprecated: The parent message is deprecated. A list of distinct options for the user to choose from. The number of options is limited to a maximum of 5.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "question": {
          "deprecated": true,
          "description": "Required. Deprecated: The parent message is deprecated. The natural language question to ask the user.",
          "type": "string"
        },
        "selectionMode": {
          "deprecated": true,
          "description": "Required. Deprecated: The parent message is deprecated. The selection mode for this question.",
          "enum": [
            "SELECTION_MODE_UNSPECIFIED",
            "SINGLE_SELECT",
            "MULTI_SELECT"
          ],
          "enumDeprecated": [
            true,
            true,
            true
          ],
          "enumDescriptions": [
            "Deprecated: The parent message is deprecated. Unspecified selection mode.",
            "Deprecated: The parent message is deprecated. The user can select only one option.",
            "Deprecated: The parent message is deprecated. The user can select multiple options."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudGeminidataanalyticsV1alphaClientManagedResourceContext": {
      "description": "Context with client managed resources. Some clients may not use GDA managed resources including conversations and agents, instead they create and manage their own conversations and agents resources.",
      "id": "GoogleCloudGeminidataanalyticsV1alphaClientManagedResourceContext",
      "properties": {
        "agentId": {
          "description": "Optional. The client managed agent id.",
          "type": "string"
        },
        "conversationId": {
          "description": "Optional. The client managed conversation id.",
          "type": "string"
        },
        "inlineContext": {
          "$ref": "GoogleCloudGeminidataanalyticsV1alphaContext",
          "description": "Required. Context for the chat request. Use this to chat without GDA API managed conversation and agent persistence by passing all context inline."
        }
      },
      "type": "object"
    },
    "GoogleCloudGeminidataanalyticsV1alphaCloudSqlDatabaseReference": {
      "description": "Message representing a reference to a single CloudSQL database.",
      "id": "GoogleCloudGeminidataanalyticsV1alphaCloudSqlDatabaseReference",
      "properties": {
        "databaseId": {
          "description": "Required. The database id.",
          "type": "string"
        },
        "databaseTableReferences": {
          "description": "Optional. References to tables within the database. Each reference specifies a table and can optionally include the table's schema to provide context for the query.",
          "items": {
            "$ref": "GoogleCloudGeminidataanalyticsV1alphaDatabaseTableReference"
          },
          "type": "array"
        },
        "engine": {
          "description": "Required. The engine of the Cloud SQL instance.",
          "enum": [
            "ENGINE_UNSPECIFIED",
            "POSTGRESQL",
            "MYSQL"
          ],
          "enumDescriptions": [
            "Engine is not specified.",
            "PostgreSQL",
            "MySQL"
          ],
          "type": "string"
        },
        "instanceId": {
          "description": "Required. The instance id.",
          "type": "string"
        },
        "projectId": {
          "description": "Required. The project the instance belongs to.",
          "type": "string"
        },
        "region": {
          "description": "Required. The region of the instance.",
          "type": "string"
        },
        "tableIds": {
          "description": "Optional. The table ids. Denotes all tables if unset.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudGeminidataanalyticsV1alphaCloudSqlReference": {
      "description": "Message representing reference to a CloudSQL database and agent context. Only supported for the `QueryData` method.",
      "id": "GoogleCloudGeminidataanalyticsV1alphaCloudSqlReference",
      "properties": {
        "agentContextReference": {
          "$ref": "GoogleCloudGeminidataanalyticsV1alphaAgentContextReference",
          "description": "Optional. Parameters for retrieving data from Agent Context."
        },
        "databaseReference": {
          "$ref": "GoogleCloudGeminidataanalyticsV1alphaCloudSqlDatabaseReference",
          "description": "Required. Singular proto that supports specifying which database and tables to include."
        }
      },
      "type": "object"
    },
    "GoogleCloudGeminidataanalyticsV1alphaContext": {
      "description": "A collection of context to apply to this conversation",
      "id": "GoogleCloudGeminidataanalyticsV1alphaContext",
      "properties": {
        "datasourceReferences": {
          "$ref": "GoogleCloudGeminidataanalyticsV1alphaDatasourceReferences",
          "description": "Required. Data sources that are available for answering the question."
        },
        "exampleQueries": {
          "description": "Optional. A list of example queries, providing examples of relevant and commonly used SQL queries and their corresponding natural language queries optionally present. Currently only used for BigQuery data sources and databases (alloydb, cloudsql, spanner) data sources.",
          "items": {
            "$ref": "GoogleCloudGeminidataanalyticsV1alphaExampleQuery"
          },
          "type": "array"
        },
        "glossaryTerms": {
          "description": "Optional. Term definitions (currently, only user authored) Not supported for databases (alloydb, cloudsql, spanner) data sources.",
          "items": {
            "$ref": "GoogleCloudGeminidataanalyticsV1alphaGlossaryTerm"
          },
          "type": "array"
        },
        "lookerGoldenQueries": {
          "description": "Optional. A list of golden queries, providing examples of relevant and commonly used Looker queries and their corresponding natural language queries optionally present. Only supported for Looker data sources.",
          "items": {
            "$ref": "GoogleCloudGeminidataanalyticsV1alphaLookerGoldenQuery"
          },
          "type": "array"
        },
        "options": {
          "$ref": "GoogleCloudGeminidataanalyticsV1alphaConversationOptions",
          "description": "Optional. Additional options for the conversation."
        },
        "schemaRelationships": {
          "description": "Optional. Relationships between table schema, including referencing and referenced columns.",
          "items": {
            "$ref": "GoogleCloudGeminidataanalyticsV1alphaContextSchemaRelationship"
          },
          "type": "array"
        },
        "systemInstruction": {
          "description": "Optional. The basic entry point for data owners creating domain knowledge for Agent. Why: Business jargon (e.g., YTD revenue is calculated as…, Retirement Age is 65 in the USA, etc) and system instructions (e.g., answer like a Pirate) can help the model understand the business context around a user question. Must be at most 250,000 bytes (approx. 250,000 characters for English text).",
          "type": "string"
        },
        "userFunctions": {
          "$ref": "GoogleCloudGeminidataanalyticsV1alphaUserFunctions",
          "description": "Optional. A collection of user functions to be included in context."
        }
      },
      "type": "object"
    },
    "GoogleCloudGeminidataanalyticsV1alphaContextSchemaRelationship": {
      "description": "The relationship between two tables, including referencing and referenced columns. This is a derived context retrieved from Dataplex Dataset Insights.",
      "id": "GoogleCloudGeminidataanalyticsV1alphaContextSchemaRelationship",
      "properties": {
        "confidenceScore": {
          "description": "Optional. A confidence score for the suggested relationship. Manually added edges have the highest confidence score.",
          "format": "float",
          "type": "number"
        },
        "leftSchemaPaths": {
          "$ref": "GoogleCloudGeminidataanalyticsV1alphaContextSchemaRelationshipSchemaPaths",
          "description": "An ordered list of fields for the join from the first table. The size of this list must be the same as `right_schema_paths`. Each field at index i in this list must correspond to a field at the same index in the `right_schema_paths` list."
        },
        "rightSchemaPaths": {
          "$ref": "GoogleCloudGeminidataanalyticsV1alphaContextSchemaRelationshipSchemaPaths",
          "description": "An ordered list of fields for the join from the second table. The size of this list must be the same as `left_schema_paths`. Each field at index i in this list must correspond to a field at the same index in the `left_schema_paths` list."
        },
        "sources": {
          "description": "Optional. Sources which generated the schema relation edge.",
          "items": {
            "enum": [
              "SOURCE_UNSPECIFIED",
              "BIGQUERY_JOB_HISTORY",
              "LLM_SUGGESTED",
              "BIGQUERY_TABLE_CONSTRAINTS"
            ],
            "enumDescriptions": [
              "The source of the schema relationship is unspecified.",
              "The source of the schema relationship is BigQuery job history.",
              "The source of the schema relationship is LLM suggested.",
              "The source of the schema relationship is BigQuery table constraints."
            ],
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudGeminidataanalyticsV1alphaContextSchemaRelationshipSchemaPaths": {
      "description": "Represents an ordered set of paths within the table schema.",
      "id": "GoogleCloudGeminidataanalyticsV1alphaContextSchemaRelationshipSchemaPaths",
      "properties": {
        "paths": {
          "description": "The ordered list of paths within the table schema.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "tableFqn": {
          "description": "The service-qualified full resource name of the table Ex: bigquery.googleapis.com/projects/PROJECT_ID/datasets/DATASET_ID/tables/TABLE_ID",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudGeminidataanalyticsV1alphaConversation": {
      "description": "Message for a conversation.",
      "id": "GoogleCloudGeminidataanalyticsV1alphaConversation",
      "properties": {
        "agents": {
          "description": "Required. Agent(s) in the conversation. Currently, only one agent is supported. This field is repeated to allow for future support of multiple agents in a conversation. Format: `projects/{project}/locations/{location}/dataAgents/{agent}`",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "createTime": {
          "description": "Output only. Creation timestamp.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "kmsKey": {
          "description": "Optional. Customer managed encryption key (CMEK) to use for encrypting the Conversation resources. Encryption will happen at Titan layer, we will pass the KMS key to Titan. Format: projects/{project_id}/locations/{location}/keyRings/{key_ring_name}/cryptoKeys/{key_name}.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Open-ended and user-defined labels that can be set by the client to tag a conversation (e.g. to filter conversations for specific surfaces/products).",
          "type": "object"
        },
        "lastUsedTime": {
          "description": "Output only. Timestamp of the last used conversation.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Optional. Identifier. The unique resource name of a conversation. Format: `projects/{project}/locations/{location}/conversations/{conversation_id}` `{conversation_id}` is the resource id and should be 63 characters or less and must match the format described in https://google.aip.dev/122#resource-id-segments Example: `projects/1234567890/locations/global/conversations/my-conversation`. It is recommended to skip setting this field during conversation creation as it will be inferred automatically and overwritten with the {parent}/conversations/{conversation_id}.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudGeminidataanalyticsV1alphaConversationOptions": {
      "description": "Options for the conversation.",
      "id": "GoogleCloudGeminidataanalyticsV1alphaConversationOptions",
      "properties": {
        "analysis": {
          "$ref": "GoogleCloudGeminidataanalyticsV1alphaAnalysisOptions",
          "description": "Optional. Options for analysis."
        },
        "chart": {
          "$ref": "GoogleCloudGeminidataanalyticsV1alphaChartOptions",
          "description": "Optional. Options for chart generation."
        },
        "datasource": {
          "$ref": "GoogleCloudGeminidataanalyticsV1alphaDatasourceOptions",
          "description": "Optional. Options for datasources."
        },
        "model": {
          "description": "Optional. The model to use for the agent loop.",
          "enum": [
            "MODEL_UNSPECIFIED",
            "LATEST_GA_MODEL"
          ],
          "enumDescriptions": [
            "No model specified. The model may be set on the chat request, or the default model will be used.",
            "Use the most up-to-date non-preview model. This may constrain certain request level settings."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudGeminidataanalyticsV1alphaConversationReference": {
      "description": "Reference to a persisted conversation and agent context.",
      "id": "GoogleCloudGeminidataanalyticsV1alphaConversationReference",
      "properties": {
        "conversation": {
          "description": "Required. Name of the conversation resource. Format: `projects/{project}/locations/{location}/conversations/{conversation_id}`",
          "type": "string"
        },
        "dataAgentContext": {
[...]
