{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "basePath": "",
  "baseUrl": "https://geminidataanalytics.googleapis.com/",
  "batchPath": "batch",
  "canonicalName": "Data Analytics API with Gemini",
  "description": "The Gemini Data Analytics API enables developers to build intelligent data analytics applications. Leverage AI-powered chat interfaces to allow users to interact with and analyze structured data using natural language.",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/gemini/docs/conversational-analytics-api/overview",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://geminidataanalytics.us.rep.googleapis.com/",
      "location": "us"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://geminidataanalytics.eu.rep.googleapis.com/",
      "location": "eu"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://geminidataanalytics.europe-west2.rep.googleapis.com/",
      "location": "europe-west2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://geminidataanalytics.europe-west4.rep.googleapis.com/",
      "location": "europe-west4"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://geminidataanalytics.us-south1.rep.googleapis.com/",
      "location": "us-south1"
    }
  ],
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "geminidataanalytics:v1",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://geminidataanalytics.mtls.googleapis.com/",
  "name": "geminidataanalytics",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "a2a": {
      "resources": {
        "projects": {
          "resources": {
            "locations": {
              "resources": {
                "agents": {
                  "resources": {
                    "v1": {
                      "methods": {
                        "getCard": {
                          "description": "GetAgentCard returns the agent card for the agent.",
                          "flatPath": "v1/a2a/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/v1/card",
                          "httpMethod": "GET",
                          "id": "geminidataanalytics.a2a.projects.locations.agents.v1.getCard",
                          "parameterOrder": [
                            "tenant"
                          ],
                          "parameters": {
                            "tenant": {
                              "description": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release.",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "path": "v1/a2a/{+tenant}/v1/card",
                          "response": {
                            "$ref": "A2aV1AgentCard"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      },
                      "resources": {
                        "message": {
                          "methods": {
                            "send": {
                              "description": "Send a message to the agent. This is a blocking call that will return the task once it is completed, or a LRO if requested.",
                              "flatPath": "v1/a2a/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/v1/message:send",
                              "httpMethod": "POST",
                              "id": "geminidataanalytics.a2a.projects.locations.agents.v1.message.send",
                              "parameterOrder": [
                                "tenant"
                              ],
                              "parameters": {
                                "tenant": {
                                  "description": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release.",
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                                  "required": true,
                                  "type": "string"
                                }
                              },
                              "path": "v1/a2a/{+tenant}/v1/message:send",
                              "request": {
                                "$ref": "A2aV1SendMessageRequest"
                              },
                              "response": {
                                "$ref": "A2aV1SendMessageResponse"
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ]
                            },
                            "stream": {
                              "description": "SendStreamingMessage is a streaming call that will return a stream of task update events until the Task is in an interrupted or terminal state.",
                              "flatPath": "v1/a2a/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/v1/message:stream",
                              "httpMethod": "POST",
                              "id": "geminidataanalytics.a2a.projects.locations.agents.v1.message.stream",
                              "parameterOrder": [
                                "tenant"
                              ],
                              "parameters": {
                                "tenant": {
                                  "description": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release.",
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                                  "required": true,
                                  "type": "string"
                                }
                              },
                              "path": "v1/a2a/{+tenant}/v1/message:stream",
                              "request": {
                                "$ref": "A2aV1SendMessageRequest"
                              },
                              "response": {
                                "$ref": "A2aV1StreamResponse"
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ]
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "dataAgents": {
                  "resources": {
                    "v1": {
                      "methods": {
                        "getCard": {
                          "description": "GetAgentCard returns the agent card for the agent.",
                          "flatPath": "v1/a2a/projects/{projectsId}/locations/{locationsId}/dataAgents/{dataAgentsId}/v1/card",
                          "httpMethod": "GET",
                          "id": "geminidataanalytics.a2a.projects.locations.dataAgents.v1.getCard",
                          "parameterOrder": [
                            "tenant"
                          ],
                          "parameters": {
                            "tenant": {
                              "description": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release.",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/dataAgents/[^/]+$",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "path": "v1/a2a/{+tenant}/v1/card",
                          "response": {
                            "$ref": "A2aV1AgentCard"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      },
                      "resources": {
                        "message": {
                          "methods": {
                            "send": {
                              "description": "Send a message to the agent. This is a blocking call that will return the task once it is completed, or a LRO if requested.",
                              "flatPath": "v1/a2a/projects/{projectsId}/locations/{locationsId}/dataAgents/{dataAgentsId}/v1/message:send",
                              "httpMethod": "POST",
                              "id": "geminidataanalytics.a2a.projects.locations.dataAgents.v1.message.send",
                              "parameterOrder": [
                                "tenant"
                              ],
                              "parameters": {
                                "tenant": {
                                  "description": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release.",
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/dataAgents/[^/]+$",
                                  "required": true,
                                  "type": "string"
                                }
                              },
                              "path": "v1/a2a/{+tenant}/v1/message:send",
                              "request": {
                                "$ref": "A2aV1SendMessageRequest"
                              },
                              "response": {
                                "$ref": "A2aV1SendMessageResponse"
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ]
                            },
                            "stream": {
                              "description": "SendStreamingMessage is a streaming call that will return a stream of task update events until the Task is in an interrupted or terminal state.",
                              "flatPath": "v1/a2a/projects/{projectsId}/locations/{locationsId}/dataAgents/{dataAgentsId}/v1/message:stream",
                              "httpMethod": "POST",
                              "id": "geminidataanalytics.a2a.projects.locations.dataAgents.v1.message.stream",
                              "parameterOrder": [
                                "tenant"
                              ],
                              "parameters": {
                                "tenant": {
                                  "description": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release.",
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/dataAgents/[^/]+$",
                                  "required": true,
                                  "type": "string"
                                }
                              },
                              "path": "v1/a2a/{+tenant}/v1/message:stream",
                              "request": {
                                "$ref": "A2aV1SendMessageRequest"
                              },
                              "response": {
                                "$ref": "A2aV1StreamResponse"
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ]
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "chat": {
              "description": "Answers a data question by generating a stream of Message objects.",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:chat",
              "httpMethod": "POST",
              "id": "geminidataanalytics.projects.locations.chat",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The parent value for chat request. Pattern: `projects/{project}/locations/{location}`",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+parent}:chat",
              "request": {
                "$ref": "GoogleCloudGeminidataanalyticsV1ChatRequest"
              },
              "response": {
                "$ref": "GoogleCloudGeminidataanalyticsV1Message"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "description": "Gets information about a location.",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "httpMethod": "GET",
              "id": "geminidataanalytics.projects.locations.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudLocationLocation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "flatPath": "v1/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "id": "geminidataanalytics.projects.locations.list",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/{+name}/locations",
              "response": {
                "$ref": "GoogleCloudLocationListLocationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "retrieveAgentOpsObservability": {
              "description": "Gets AgentOps observability settings and status of required services.",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:retrieveAgentOpsObservability",
              "httpMethod": "GET",
              "id": "geminidataanalytics.projects.locations.retrieveAgentOpsObservability",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "dataSourceType": {
                  "description": "Required. The data source type for which to retrieve observability settings. Examples: \"bigquery\", \"looker\"",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. Parent value for RetrieveAgentOpsObservabilityRequest. Format: projects/{project}/locations/{location}",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+parent}:retrieveAgentOpsObservability",
              "response": {
                "$ref": "GoogleCloudGeminidataanalyticsV1RetrieveAgentOpsObservabilityResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "conversations": {
              "methods": {
                "create": {
                  "description": "Creates a new conversation to persist the conversation history. Each conversation will have multiple messages associated with it.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversations",
                  "httpMethod": "POST",
                  "id": "geminidataanalytics.projects.locations.conversations.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "conversationId": {
                      "description": "Optional. The conversation id of the conversation to create. Must be unique within the parent. The allowed format is: `^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$`. If not provided, the server will auto-generate a value for the id.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Parent value for CreateConversationRequest. Format: `projects/{project}/locations/{location}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/conversations",
                  "request": {
                    "$ref": "GoogleCloudGeminidataanalyticsV1Conversation"
                  },
                  "response": {
                    "$ref": "GoogleCloudGeminidataanalyticsV1Conversation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "description": "Deletes a conversation.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}",
                  "httpMethod": "DELETE",
                  "id": "geminidataanalytics.projects.locations.conversations.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the resource. Format: `projects/{project}/locations/{location}/conversations/{conversation}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "description": "Gets details of a single conversation by using conversation id and parent.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}",
                  "httpMethod": "GET",
                  "id": "geminidataanalytics.projects.locations.conversations.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the resource. Format: `projects/{project}/locations/{location}/conversations/{conversation}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudGeminidataanalyticsV1Conversation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "description": "Lists all conversations for a given parent.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversations",
                  "httpMethod": "GET",
                  "id": "geminidataanalytics.projects.locations.conversations.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "filter": {
                      "description": "Optional. Returned conversations will match criteria specified within the filter. ListConversations allows filtering by: * agents * labels",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer items than requested. The max page size is `100`. All larger page sizes will be coerced to `100`. If unspecified, server will pick `50` as an appropriate default.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Parent value for ListConversationsRequest. Format: `projects/{project}/locations/{location}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/conversations",
                  "response": {
                    "$ref": "GoogleCloudGeminidataanalyticsV1ListConversationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              },
              "resources": {
                "messages": {
                  "methods": {
                    "list": {
                      "description": "Lists all messages for a given conversation.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/messages",
                      "httpMethod": "GET",
                      "id": "geminidataanalytics.projects.locations.conversations.messages.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "filter": {
                          "description": "Optional. Filtering results. See [AIP-160](https://google.aip.dev/160) for syntax. ListMessages allows filtering by: * create_time (e.g., `createTime > \"2025-01-28T06:51:56-08:00\"`) * update_time",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Optional. Requested page size. Server may return fewer items than requested. The max page size is `100`. All larger page sizes will be coerced to `100`. If unspecified, server will pick `50` as an appropriate default.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "Optional. A token identifying a page of results the server should return.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. The conversation to list messages under. Format: `projects/{project}/locations/{location}/conversations/{conversation_id}`",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v1/{+parent}/messages",
                      "response": {
                        "$ref": "GoogleCloudGeminidataanalyticsV1ListMessagesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            },
            "dataAgents": {
              "methods": {
                "create": {
                  "description": "Creates a new DataAgent in a given project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataAgents",
                  "httpMethod": "POST",
                  "id": "geminidataanalytics.projects.locations.dataAgents.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "dataAgentId": {
                      "description": "Optional. Id of the requesting object. Must be unique within the parent. The allowed format is: `^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$`. If not provided, the server will auto-generate a value for the id.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Value for parent.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/dataAgents",
                  "request": {
                    "$ref": "GoogleCloudGeminidataanalyticsV1DataAgent"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "createSync": {
                  "description": "Creates a new DataAgent in a given project and location synchronously.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataAgents:createSync",
                  "httpMethod": "POST",
                  "id": "geminidataanalytics.projects.locations.dataAgents.createSync",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "dataAgentId": {
                      "description": "Optional. Id of the requesting object. Must be unique within the parent. The allowed format is: `^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$`. If not provided, the server will auto-generate a value for the id.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Value for parent.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/dataAgents:createSync",
                  "request": {
                    "$ref": "GoogleCloudGeminidataanalyticsV1DataAgent"
                  },
                  "response": {
                    "$ref": "GoogleCloudGeminidataanalyticsV1DataAgent"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "description": "Deletes a single DataAgent.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataAgents/{dataAgentsId}",
                  "httpMethod": "DELETE",
                  "id": "geminidataanalytics.projects.locations.dataAgents.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the resource.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataAgents/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "deleteSync": {
                  "description": "Deletes a single DataAgent synchronously.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataAgents/{dataAgentsId}:deleteSync",
                  "httpMethod": "DELETE",
                  "id": "geminidataanalytics.projects.locations.dataAgents.deleteSync",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the resource.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataAgents/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}:deleteSync",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "description": "Gets details of a single DataAgent.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataAgents/{dataAgentsId}",
                  "httpMethod": "GET",
                  "id": "geminidataanalytics.projects.locations.dataAgents.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the resource.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataAgents/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudGeminidataanalyticsV1DataAgent"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "getIamPolicy": {
                  "description": "Gets the IAM policy for DataAgent",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataAgents/{dataAgentsId}:getIamPolicy",
                  "httpMethod": "POST",
                  "id": "geminidataanalytics.projects.locations.dataAgents.getIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataAgents/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+resource}:getIamPolicy",
                  "request": {
                    "$ref": "GoogleIamV1GetIamPolicyRequest"
                  },
                  "response": {
                    "$ref": "GoogleIamV1Policy"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "description": "Lists DataAgents in a given project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataAgents",
                  "httpMethod": "GET",
                  "id": "geminidataanalytics.projects.locations.dataAgents.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "filter": {
                      "description": "Optional. Filtering results. See [AIP-160](https://google.aip.dev/160) for syntax.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Optional. User specification for how to order the results.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListDataAgents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDataAgents` must match the call that provided the page token. The service may return fewer than this value.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Parent value for ListDataAgentsRequest.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "showDeleted": {
                      "description": "Optional. If true, the list results will include soft-deleted DataAgents. Defaults to false.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "path": "v1/{+parent}/dataAgents",
                  "response": {
                    "$ref": "GoogleCloudGeminidataanalyticsV1ListDataAgentsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "listAccessible": {
                  "description": "Lists DataAgents that are accessible to the caller in a given project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataAgents:listAccessible",
                  "httpMethod": "GET",
                  "id": "geminidataanalytics.projects.locations.dataAgents.listAccessible",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "creatorFilter": {
                      "description": "Optional. Filter for the creator of the agent.",
                      "enum": [
                        "CREATOR_FILTER_UNSPECIFIED",
                        "NONE",
                        "CREATOR_ONLY",
                        "NOT_CREATOR_ONLY"
                      ],
                      "enumDescriptions": [
                        "Default value.",
                        "No creator-specific filter will be applied. All agents will be returned.",
                        "Only agents created by the user calling the API will be returned.",
                        "Only agents not created by the user calling the API will be returned."
                      ],
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. Filtering results. See [AIP-160](https://google.aip.dev/160) for syntax.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Optional. User specification for how to order the results.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListAccessibleDataAgents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccessibleDataAgents` must match the call that provided the page token. The service may return fewer than this value.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Parent value for ListAccessibleDataAgentsRequest.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "showDeleted": {
                      "description": "Optional. If true, the list results will include soft-deleted DataAgents. Defaults to false.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "path": "v1/{+parent}/dataAgents:listAccessible",
                  "response": {
                    "$ref": "GoogleCloudGeminidataanalyticsV1ListAccessibleDataAgentsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "description": "Updates the parameters of a single DataAgent.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataAgents/{dataAgentsId}",
                  "httpMethod": "PATCH",
                  "id": "geminidataanalytics.projects.locations.dataAgents.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Optional. Identifier. The unique resource name of a DataAgent. Format: `projects/{project}/locations/{location}/dataAgents/{data_agent_id}` `{data_agent}` is the resource id and should be 63 characters or less and must match the format described in https://google.aip.dev/122#resource-id-segments Example: `projects/1234567890/locations/global/dataAgents/my-agent`. It is recommended to skip setting this field during agent creation as it will be inferred automatically and overwritten with the {parent}/dataAgents/{data_agent_id}.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataAgents/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the DataAgent resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields with non-default values present in the request will be overwritten. If a wildcard mask is provided, all fields will be overwritten.",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "GoogleCloudGeminidataanalyticsV1DataAgent"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "setIamPolicy": {
                  "description": "Sets the IAM policy for a DataAgent.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataAgents/{dataAgentsId}:setIamPolicy",
                  "httpMethod": "POST",
                  "id": "geminidataanalytics.projects.locations.dataAgents.setIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataAgents/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+resource}:setIamPolicy",
                  "request": {
                    "$ref": "GoogleIamV1SetIamPolicyRequest"
                  },
                  "response": {
                    "$ref": "GoogleIamV1Policy"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "updateSync": {
                  "description": "Updates the parameters of a single DataAgent synchronously.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataAgents/{dataAgentsId}:updateSync",
                  "httpMethod": "PATCH",
                  "id": "geminidataanalytics.projects.locations.dataAgents.updateSync",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Optional. Identifier. The unique resource name of a DataAgent. Format: `projects/{project}/locations/{location}/dataAgents/{data_agent_id}` `{data_agent}` is the resource id and should be 63 characters or less and must match the format described in https://google.aip.dev/122#resource-id-segments Example: `projects/1234567890/locations/global/dataAgents/my-agent`. It is recommended to skip setting this field during agent creation as it will be inferred automatically and overwritten with the {parent}/dataAgents/{data_agent_id}.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataAgents/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the DataAgent resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields with non-default values present in the request will be overwritten. If a wildcard mask is provided, all fields will be overwritten.",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}:updateSync",
                  "request": {
                    "$ref": "GoogleCloudGeminidataanalyticsV1DataAgent"
                  },
                  "response": {
                    "$ref": "GoogleCloudGeminidataanalyticsV1DataAgent"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "observabilitySettings": {
              "methods": {
                "setAgentOpsObservability": {
                  "description": "Enables/Disables required GCP services and configures AgentOps observability settings calling the Admin Settings executable node to update the AgentOps Observability feature.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/observabilitySettings:setAgentOpsObservability",
                  "httpMethod": "POST",
                  "id": "geminidataanalytics.projects.locations.observabilitySettings.setAgentOpsObservability",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. Parent value for SetAgentOpsObservabilityRequest. Format: projects/{project}/locations/{location}",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/observabilitySettings:setAgentOpsObservability",
                  "request": {
                    "$ref": "GoogleCloudGeminidataanalyticsV1SetAgentOpsObservabilityRequest"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "operations": {
              "methods": {
                "cancel": {
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "id": "geminidataanalytics.projects.locations.operations.cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}:cancel",
                  "request": {
                    "$ref": "GoogleLongrunningCancelOperationRequest"
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "id": "geminidataanalytics.projects.locations.operations.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "id": "geminidataanalytics.projects.locations.operations.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "id": "geminidataanalytics.projects.locations.operations.list",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "path": "v1/{+name}/operations",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "revision": "20260815",
  "rootUrl": "https://geminidataanalytics.googleapis.com/",
  "schemas": {
    "A2aV1APIKeySecurityScheme": {
      "id": "A2aV1APIKeySecurityScheme",
      "properties": {
        "description": {
          "description": "Description of this security scheme.",
          "type": "string"
        },
        "location": {
          "description": "Location of the API key, valid values are \"query\", \"header\", or \"cookie\"",
          "type": "string"
        },
        "name": {
          "description": "Name of the header, query or cookie parameter to be used.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "A2aV1AgentCapabilities": {
      "description": "Defines the A2A feature set supported by the agent",
      "id": "A2aV1AgentCapabilities",
      "properties": {
        "extensions": {
          "description": "Extensions supported by this agent.",
          "items": {
            "$ref": "A2aV1AgentExtension"
          },
          "type": "array"
        },
        "pushNotifications": {
          "description": "If the agent can send push notifications to the clients webhook",
          "type": "boolean"
        },
        "streaming": {
          "description": "If the agent will support streaming responses",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "A2aV1AgentCard": {
      "description": "AgentCard conveys key information: - Overall details (version, name, description, uses) - Skills; a set of actions/solutions the agent can perform - Default modalities/content types supported by the agent. - Authentication requirements Next ID: 19",
      "id": "A2aV1AgentCard",
      "properties": {
        "additionalInterfaces": {
          "description": "Announcement of additional supported transports. Client can use any of the supported transports.",
          "items": {
            "$ref": "A2aV1AgentInterface"
          },
          "type": "array"
        },
        "capabilities": {
          "$ref": "A2aV1AgentCapabilities",
          "description": "A2A Capability set supported by the agent."
        },
        "defaultInputModes": {
          "description": "protolint:enable REPEATED_FIELD_NAMES_PLURALIZED The set of interaction modes that the agent supports across all skills. This can be overridden per skill. Defined as mime types.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "defaultOutputModes": {
          "description": "The mime types supported as outputs from this agent.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "description": {
          "description": "A description of the agent's domain of action/solution space. Example: \"Agent that helps users with recipes and cooking.\"",
          "type": "string"
        },
        "documentationUrl": {
          "description": "A url to provide additional documentation about the agent.",
          "type": "string"
        },
        "iconUrl": {
          "description": "An optional URL to an icon for the agent.",
          "type": "string"
        },
        "name": {
          "description": "A human readable name for the agent. Example: \"Recipe Agent\"",
          "type": "string"
        },
        "preferredTransport": {
          "description": "The transport of the preferred endpoint. If empty, defaults to JSONRPC.",
          "type": "string"
        },
        "protocolVersion": {
          "description": "The version of the A2A protocol this agent supports.",
          "type": "string"
        },
        "provider": {
          "$ref": "A2aV1AgentProvider",
          "description": "The service provider of the agent."
        },
        "security": {
          "description": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED Security requirements for contacting the agent. This list can be seen as an OR of ANDs. Each object in the list describes one possible set of security requirements that must be present on a request. This allows specifying, for example, \"callers must either use OAuth OR an API Key AND mTLS.\" Example: security { schemes { key: \"oauth\" value { list: [\"read\"] } } } security { schemes { key: \"api-key\" } schemes { key: \"mtls\" } }",
          "items": {
            "$ref": "A2aV1Security"
          },
          "type": "array"
        },
        "securitySchemes": {
          "additionalProperties": {
            "$ref": "A2aV1SecurityScheme"
          },
          "description": "The security scheme details used for authenticating with this agent.",
          "type": "object"
        },
        "signatures": {
          "description": "JSON Web Signatures computed for this AgentCard.",
          "items": {
            "$ref": "A2aV1AgentCardSignature"
          },
          "type": "array"
        },
        "skills": {
          "description": "Skills represent a unit of ability an agent can perform. This may somewhat abstract but represents a more focused set of actions that the agent is highly likely to succeed at.",
          "items": {
            "$ref": "A2aV1AgentSkill"
          },
          "type": "array"
        },
        "supportsAuthenticatedExtendedCard": {
          "description": "Whether the agent supports providing an extended agent card when the user is authenticated, i.e. is the card from .well-known different than the card from GetAgentCard.",
          "type": "boolean"
        },
        "url": {
          "description": "A URL to the address the agent is hosted at. This represents the preferred endpoint as declared by the agent.",
          "type": "string"
        },
        "version": {
          "description": "The version of the agent. Example: \"1.0.0\"",
          "type": "string"
        }
      },
      "type": "object"
    },
    "A2aV1AgentCardSignature": {
      "description": "AgentCardSignature represents a JWS signature of an AgentCard. This follows the JSON format of an RFC 7515 JSON Web Signature (JWS).",
      "id": "A2aV1AgentCardSignature",
      "properties": {
        "header": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The unprotected JWS header values.",
          "type": "object"
        },
        "protected": {
          "description": "Required. The protected JWS header for the signature. This is always a base64url-encoded JSON object. Required.",
          "type": "string"
        },
        "signature": {
          "description": "Required. The computed signature, base64url-encoded. Required.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "A2aV1AgentExtension": {
      "description": "A declaration of an extension supported by an Agent.",
      "id": "A2aV1AgentExtension",
      "properties": {
        "description": {
          "description": "A description of how this agent uses this extension. Example: \"Google OAuth 2.0 authentication\"",
          "type": "string"
        },
        "params": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional configuration for the extension.",
          "type": "object"
        },
        "required": {
          "description": "Whether the client must follow specific requirements of the extension. Example: false",
          "type": "boolean"
        },
        "uri": {
          "description": "The URI of the extension. Example: \"https://developers.google.com/identity/protocols/oauth2\"",
          "type": "string"
        }
      },
      "type": "object"
    },
    "A2aV1AgentInterface": {
      "description": "Defines additional transport information for the agent.",
      "id": "A2aV1AgentInterface",
      "properties": {
        "tenant": {
          "description": "Tenant to be set in the request when calling the agent. Experimental, might still change for 1.0 release.",
          "type": "string"
        },
        "transport": {
          "description": "The transport supported this url. This is an open form string, to be easily extended for many transport protocols. The core ones officially supported are JSONRPC, GRPC and HTTP+JSON.",
          "type": "string"
        },
        "url": {
          "description": "The url this interface is found at.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "A2aV1AgentProvider": {
      "description": "Represents information about the service provider of an agent.",
      "id": "A2aV1AgentProvider",
      "properties": {
        "organization": {
          "description": "The providers organization name Example: \"Google\"",
          "type": "string"
        },
        "url": {
          "description": "The providers reference url Example: \"https://ai.google.dev\"",
          "type": "string"
        }
      },
      "type": "object"
    },
    "A2aV1AgentSkill": {
      "description": "AgentSkill represents a unit of action/solution that the agent can perform. One can think of this as a type of highly reliable solution that an agent can be tasked to provide. Agents have the autonomy to choose how and when to use specific skills, but clients should have confidence that if the skill is defined that unit of action can be reliably performed.",
      "id": "A2aV1AgentSkill",
      "properties": {
        "description": {
          "description": "A human (or llm) readable description of the skill details and behaviors.",
          "type": "string"
        },
        "examples": {
          "description": "A set of example queries that this skill is designed to address. These examples should help the caller to understand how to craft requests to the agent to achieve specific goals. Example: [\"I need a recipe for bread\"]",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "id": {
          "description": "Unique identifier of the skill within this agent.",
          "type": "string"
        },
        "inputModes": {
          "description": "Possible input modalities supported.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "A human readable name for the skill.",
          "type": "string"
        },
        "outputModes": {
          "description": "Possible output modalities produced",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "security": {
          "description": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED Security schemes necessary for the agent to leverage this skill. As in the overall AgentCard.security, this list represents a logical OR of security requirement objects. Each object is a set of security schemes that must be used together (a logical AND). protolint:enable REPEATED_FIELD_NAMES_PLURALIZED",
          "items": {
            "$ref": "A2aV1Security"
          },
          "type": "array"
        },
        "tags": {
          "description": "A set of tags for the skill to enhance categorization/utilization. Example: [\"cooking\", \"customer support\", \"billing\"]",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "A2aV1Artifact": {
      "description": "Artifacts are the container for task completed results. These are similar to Messages but are intended to be the product of a task, as opposed to point-to-point communication.",
      "id": "A2aV1Artifact",
      "properties": {
        "artifactId": {
          "description": "Unique identifier (e.g. UUID) for the artifact. It must be at least unique within a task.",
          "type": "string"
        },
        "description": {
          "description": "A human readable description of the artifact, optional.",
          "type": "string"
        },
        "extensions": {
          "description": "The URIs of extensions that are present or contributed to this Artifact.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional metadata included with the artifact.",
          "type": "object"
        },
        "name": {
          "description": "A human readable name for the artifact.",
          "type": "string"
        },
        "parts": {
          "description": "The content of the artifact.",
          "items": {
            "$ref": "A2aV1Part"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "A2aV1AuthenticationInfo": {
      "description": "Defines authentication details, used for push notifications.",
      "id": "A2aV1AuthenticationInfo",
      "properties": {
        "credentials": {
          "description": "Optional credentials",
          "type": "string"
        },
        "schemes": {
          "description": "Supported authentication schemes - e.g. Basic, Bearer, etc",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "A2aV1AuthorizationCodeOAuthFlow": {
      "id": "A2aV1AuthorizationCodeOAuthFlow",
      "properties": {
        "authorizationUrl": {
          "description": "The authorization URL to be used for this flow. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS",
          "type": "string"
        },
        "refreshUrl": {
          "description": "The URL to be used for obtaining refresh tokens. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS.",
          "type": "string"
        },
        "scopes": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The available scopes for the OAuth2 security scheme. A map between the scope name and a short description for it. The map MAY be empty.",
          "type": "object"
        },
        "tokenUrl": {
          "description": "The token URL to be used for this flow. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "A2aV1ClientCredentialsOAuthFlow": {
      "id": "A2aV1ClientCredentialsOAuthFlow",
      "properties": {
        "refreshUrl": {
          "description": "The URL to be used for obtaining refresh tokens. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS.",
          "type": "string"
        },
        "scopes": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The available scopes for the OAuth2 security scheme. A map between the scope name and a short description for it. The map MAY be empty.",
          "type": "object"
        },
        "tokenUrl": {
          "description": "The token URL to be used for this flow. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "A2aV1DataPart": {
      "description": "DataPart represents a structured blob. This is most commonly a JSON payload.",
      "id": "A2aV1DataPart",
      "properties": {
        "data": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "A2aV1FilePart": {
      "description": "FilePart represents the different ways files can be provided. If files are small, directly feeding the bytes is supported via file_with_bytes. If the file is large, the agent should read the content as appropriate directly from the file_with_uri source.",
      "id": "A2aV1FilePart",
      "properties": {
        "fileWithBytes": {
          "format": "byte",
          "type": "string"
        },
        "fileWithUri": {
          "type": "string"
        },
        "mimeType": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "A2aV1HTTPAuthSecurityScheme": {
      "id": "A2aV1HTTPAuthSecurityScheme",
      "properties": {
        "bearerFormat": {
          "description": "A hint to the client to identify how the bearer token is formatted. Bearer tokens are usually generated by an authorization server, so this information is primarily for documentation purposes.",
          "type": "string"
        },
        "description": {
          "description": "Description of this security scheme.",
          "type": "string"
        },
        "scheme": {
          "description": "The name of the HTTP Authentication scheme to be used in the Authorization header as defined in RFC7235. The values used SHOULD be registered in the IANA Authentication Scheme registry. The value is case-insensitive, as defined in RFC7235.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "A2aV1ImplicitOAuthFlow": {
      "id": "A2aV1ImplicitOAuthFlow",
      "properties": {
        "authorizationUrl": {
          "description": "The authorization URL to be used for this flow. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS",
          "type": "string"
        },
        "refreshUrl": {
          "description": "The URL to be used for obtaining refresh tokens. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS.",
          "type": "string"
        },
        "scopes": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The available scopes for the OAuth2 security scheme. A map between the scope name and a short description for it. The map MAY be empty.",
          "type": "object"
        }
      },
      "type": "object"
    },
    "A2aV1Message": {
      "description": "Message is one unit of communication between client and server. It is associated with a context and optionally a task. Since the server is responsible for the context definition, it must always provide a context_id in its messages. The client can optionally provide the context_id if it knows the context to associate the message to. Similarly for task_id, except the server decides if a task is created and whether to include the task_id.",
      "id": "A2aV1Message",
      "properties": {
        "content": {
          "description": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED Content is the container of the message content.",
          "items": {
            "$ref": "A2aV1Part"
          },
          "type": "array"
        },
        "contextId": {
          "description": "The context id of the message. This is optional and if set, the message will be associated with the given context.",
          "type": "string"
        },
        "extensions": {
          "description": "The URIs of extensions that are present or contributed to this Message.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "messageId": {
          "description": "The unique identifier (e.g. UUID)of the message. This is required and created by the message creator.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "protolint:enable REPEATED_FIELD_NAMES_PLURALIZED Any optional metadata to provide along with the message.",
          "type": "object"
        },
        "role": {
          "description": "A role for the message.",
          "enum": [
            "ROLE_UNSPECIFIED",
            "ROLE_USER",
            "ROLE_AGENT"
          ],
          "enumDescriptions": [
            "",
            "USER role refers to communication from the client to the server.",
            "AGENT role refers to communication from the server to the client."
          ],
          "type": "string"
        },
        "taskId": {
          "description": "The task id of the message. This is optional and if set, the message will be associated with the given task.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "A2aV1MutualTlsSecurityScheme": {
      "id": "A2aV1MutualTlsSecurityScheme",
      "properties": {
        "description": {
          "description": "Description of this security scheme.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "A2aV1OAuth2SecurityScheme": {
      "id": "A2aV1OAuth2SecurityScheme",
      "properties": {
        "description": {
          "description": "Description of this security scheme.",
          "type": "string"
        },
        "flows": {
          "$ref": "A2aV1OAuthFlows",
          "description": "An object containing configuration information for the flow types supported"
        },
        "oauth2MetadataUrl": {
          "description": "URL to the oauth2 authorization server metadata [RFC8414](https://datatracker.ietf.org/doc/html/rfc8414). TLS is required.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "A2aV1OAuthFlows": {
      "id": "A2aV1OAuthFlows",
      "properties": {
        "authorizationCode": {
          "$ref": "A2aV1AuthorizationCodeOAuthFlow"
        },
        "clientCredentials": {
          "$ref": "A2aV1ClientCredentialsOAuthFlow"
        },
        "implicit": {
          "$ref": "A2aV1ImplicitOAuthFlow"
        },
        "password": {
          "$ref": "A2aV1PasswordOAuthFlow"
        }
      },
      "type": "object"
    },
    "A2aV1OpenIdConnectSecurityScheme": {
      "id": "A2aV1OpenIdConnectSecurityScheme",
      "properties": {
        "description": {
          "description": "Description of this security scheme.",
          "type": "string"
        },
        "openIdConnectUrl": {
          "description": "Well-known URL to discover the [[OpenID-Connect-Discovery]] provider metadata.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "A2aV1Part": {
      "description": "Part represents a container for a section of communication content. Parts can be purely textual, some sort of file (image, video, etc) or a structured data blob (i.e. JSON).",
      "id": "A2aV1Part",
      "properties": {
        "data": {
          "$ref": "A2aV1DataPart"
        },
        "file": {
          "$ref": "A2aV1FilePart"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional metadata associated with this part.",
          "type": "object"
        },
        "text": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "A2aV1PasswordOAuthFlow": {
      "id": "A2aV1PasswordOAuthFlow",
      "properties": {
        "refreshUrl": {
          "description": "The URL to be used for obtaining refresh tokens. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS.",
          "type": "string"
        },
        "scopes": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The available scopes for the OAuth2 security scheme. A map between the scope name and a short description for it. The map MAY be empty.",
          "type": "object"
        },
        "tokenUrl": {
          "description": "The token URL to be used for this flow. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "A2aV1PushNotificationConfig": {
      "description": "Configuration for setting up push notifications for task updates.",
      "id": "A2aV1PushNotificationConfig",
      "properties": {
        "authentication": {
          "$ref": "A2aV1AuthenticationInfo",
          "description": "Information about the authentication to sent with the notification"
        },
        "id": {
          "description": "A unique identifier (e.g. UUID) for this push notification.",
          "type": "string"
        },
        "token": {
          "description": "Token unique for this task/session",
          "type": "string"
        },
        "url": {
          "description": "Url to send the notification too",
          "type": "string"
        }
      },
      "type": "object"
    },
    "A2aV1Security": {
      "id": "A2aV1Security",
      "properties": {
        "schemes": {
          "additionalProperties": {
            "$ref": "A2aV1StringList"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "A2aV1SecurityScheme": {
      "id": "A2aV1SecurityScheme",
      "properties": {
        "apiKeySecurityScheme": {
          "$ref": "A2aV1APIKeySecurityScheme"
        },
        "httpAuthSecurityScheme": {
          "$ref": "A2aV1HTTPAuthSecurityScheme"
        },
        "mtlsSecurityScheme": {
          "$ref": "A2aV1MutualTlsSecurityScheme"
        },
        "oauth2SecurityScheme": {
          "$ref": "A2aV1OAuth2SecurityScheme"
        },
        "openIdConnectSecurityScheme": {
          "$ref": "A2aV1OpenIdConnectSecurityScheme"
        }
      },
      "type": "object"
    },
    "A2aV1SendMessageConfiguration": {
      "description": "Configuration of a send message request.",
      "id": "A2aV1SendMessageConfiguration",
      "properties": {
        "acceptedOutputModes": {
          "description": "The output modes that the agent is expected to respond with.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "blocking": {
          "description": "If true, the message will be blocking until the task is completed. If false, the message will be non-blocking and the task will be returned immediately. It is the caller's responsibility to check for any task updates.",
          "type": "boolean"
        },
        "historyLength": {
          "description": "The maximum number of messages to include in the history. if 0, the history will be unlimited.",
          "format": "int32",
          "type": "integer"
        },
        "pushNotification": {
          "$ref": "A2aV1PushNotificationConfig",
          "description": "A configuration of a webhook that can be used to receive updates"
        }
      },
      "type": "object"
    },
    "A2aV1SendMessageRequest": {
      "description": "/////////// Request Messages ///////////",
      "id": "A2aV1SendMessageRequest",
      "properties": {
        "configuration": {
          "$ref": "A2aV1SendMessageConfiguration",
          "description": "Configuration for the send request."
        },
        "message": {
          "$ref": "A2aV1Message",
          "description": "Required. The message to send to the agent."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional metadata for the request.",
          "type": "object"
        }
      },
      "type": "object"
    },
    "A2aV1SendMessageResponse": {
      "description": "////// Response Messages ///////////",
      "id": "A2aV1SendMessageResponse",
      "properties": {
        "message": {
          "$ref": "A2aV1Message"
        },
        "task": {
          "$ref": "A2aV1Task"
        }
      },
      "type": "object"
    },
    "A2aV1StreamResponse": {
      "description": "The stream response for a message. The stream should be one of the following sequences: If the response is a message, the stream should contain one, and only one, message and then close If the response is a task lifecycle, the first response should be a Task object followed by zero or more TaskStatusUpdateEvents and TaskArtifactUpdateEvents. The stream should complete when the Task if in an interrupted or terminal state. A stream that ends before these conditions are met are",
      "id": "A2aV1StreamResponse",
      "properties": {
        "artifactUpdate": {
          "$ref": "A2aV1TaskArtifactUpdateEvent"
        },
        "message": {
          "$ref": "A2aV1Message"
        },
        "statusUpdate": {
          "$ref": "A2aV1TaskStatusUpdateEvent"
        },
        "task": {
          "$ref": "A2aV1Task"
        }
      },
      "type": "object"
    },
    "A2aV1StringList": {
      "description": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED",
      "id": "A2aV1StringList",
      "properties": {
        "list": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "A2aV1Task": {
      "description": "Task is the core unit of action for A2A. It has a current status and when results are created for the task they are stored in the artifact. If there are multiple turns for a task, these are stored in history.",
      "id": "A2aV1Task",
      "properties": {
        "artifacts": {
          "description": "A set of output artifacts for a Task.",
          "items": {
            "$ref": "A2aV1Artifact"
          },
          "type": "array"
        },
        "contextId": {
          "description": "Unique identifier (e.g. UUID) for the contextual collection of interactions (tasks and messages). Created by the A2A server.",
          "type": "string"
        },
        "history": {
          "description": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED The history of interactions from a task.",
          "items": {
            "$ref": "A2aV1Message"
          },
          "type": "array"
        },
        "id": {
          "description": "Unique identifier (e.g. UUID) for the task, generated by the server for a new task.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "protolint:enable REPEATED_FIELD_NAMES_PLURALIZED A key/value object to store custom metadata about a task.",
          "type": "object"
        },
        "status": {
          "$ref": "A2aV1TaskStatus",
          "description": "The current status of a Task, including state and a message."
        }
      },
      "type": "object"
    },
    "A2aV1TaskArtifactUpdateEvent": {
      "description": "TaskArtifactUpdateEvent represents a task delta where an artifact has been generated.",
      "id": "A2aV1TaskArtifactUpdateEvent",
      "properties": {
        "append": {
          "description": "Whether this should be appended to a prior one produced",
          "type": "boolean"
        },
        "artifact": {
          "$ref": "A2aV1Artifact",
          "description": "The artifact itself"
        },
        "contextId": {
          "description": "The id of the context that this task belongs too",
          "type": "string"
        },
        "lastChunk": {
          "description": "Whether this represents the last part of an artifact",
          "type": "boolean"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional metadata associated with the artifact update.",
          "type": "object"
        },
        "taskId": {
          "description": "The id of the task for this artifact",
          "type": "string"
        }
      },
      "type": "object"
    },
    "A2aV1TaskStatus": {
      "description": "A container for the status of a task",
      "id": "A2aV1TaskStatus",
      "properties": {
        "message": {
          "$ref": "A2aV1Message",
          "description": "A message associated with the status."
        },
        "state": {
          "description": "The current state of this task",
          "enum": [
            "TASK_STATE_UNSPECIFIED",
            "TASK_STATE_SUBMITTED",
            "TASK_STATE_WORKING",
            "TASK_STATE_COMPLETED",
            "TASK_STATE_FAILED",
            "TASK_STATE_CANCELLED",
            "TASK_STATE_INPUT_REQUIRED",
            "TASK_STATE_REJECTED",
            "TASK_STATE_AUTH_REQUIRED"
          ],
          "enumDescriptions": [
            "",
            "Represents the status that acknowledges a task is created",
            "Represents the status that a task is actively being processed",
            "Represents the status a task is finished. This is a terminal state",
            "Represents the status a task is done but failed. This is a terminal state",
            "Represents the status a task was cancelled before it finished. This is a terminal state.",
            "Represents the status that the task requires information to complete. This is an interrupted state.",
            "Represents the status that the agent has decided to not perform the task. This may be done during initial task creation or later once an agent has determined it can't or won't proceed. This is a terminal state.",
            "Represents the state that some authentication is needed from the upstream client. Authentication is expected to come out-of-band thus this is not an interrupted or terminal state."
          ],
          "type": "string"
        },
        "timestamp": {
[...]
