# The GCP Project ID to deploy the services to
PROJECT_ID="your-gcp-project-id"

# The GCP region to deploy the services to
REGION="us-central1"

# The service account email that the Cloud Run services will use
SERVICE_ACCOUNT_EMAIL="your-service-account-email@your-gcp-project-id.iam.gserviceaccount.com"